.my-btn {
    height: 50px;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;

    padding-left: 20px;
    margin-bottom: 10px;

    width: 100%;
    background-color: var(--color-primary);
    color: #fff;
}

.center-screen {
    position: fixed;
    top: 30%;
    left: 0;
    width: 100%;
    z-index: 999;
}
