/*
 * window size indicator
 * useful when making a responsive web
 *
 * this class will be removed on the production-version
 */

 @import url('https://fonts.googleapis.com/css2?family=Lemon&family=Poppins&family=Quicksand:wght@400;700&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    /* background: url("./images/BackgroundLogin.jpg"); */
    background-size: cover;

}

/*
body::before {
    content: "XS";
    color: red;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
}

.box {
    background-color: lightblue;
    border: 1px solid blue;
    min-height: 50px;
    font-size: 2rem;
}

@media (min-width: 576px) {
    body::before {
        content: "SM";
    }
}

@media (min-width: 768px) {
    body::before {
        content: "MD";
    }
}

@media (min-width: 992px) {
    body::before {
        content: "LG";
    }
}

@media (min-width: 1200px) {
    body::before {
        content: "XL";
    }
}

@media (min-width: 1400px) {
    body::before {
        content: "XXL";
    }
}
*/